<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--找到对应的mapper接口-->
<mapper namespace="com.wei.furn.dao.loginDao">

    <!--    配置resultMap-->
    <resultMap id="BaseResultMap" type="login">
        <id column="name" property="name" jdbcType="VARCHAR"></id>
        <id column="pwd" property="pwd" jdbcType="VARCHAR"></id>
    </resultMap>

    <select id="loginCheck" resultType="login">
        SELECT `name`,`pwd` FROM userr
    </select>

    <select id="GetUserId"  parameterType="string" resultType="long">
        SELECT id FROM `userr` WHERE `name` = #{name}
    </select>

    <select id="GetAdmin" resultType="long">
       SELECT admin FROM  `userr` WHERE id =#{id}
    </select>

</mapper>
